Dexi/Zephyrus_DEXI.json
[
    {
        "id": "10c20c070b4af084",
        "type": "tab",
        "label": "DEXI Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "311444477288167b",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "LED Red",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3120,
        "y": 500,
        "wires": [
            [
                "9f93044d29df5f9d"
            ]
        ]
    },
    {
        "id": "46060b8680e36e15",
        "type": "ui_button",
        "z": "10c20c070b4af084",
        "name": "Red LED",
        "group": "a9bdec91d345fccd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Red",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3160,
        "y": 440,
        "wires": [
            [
                "9f93044d29df5f9d"
            ]
        ]
    },
    {
        "id": "0a0f92e14bd29547",
        "type": "ros2-service-call",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "x": 3580,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "9f93044d29df5f9d",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "RED",
        "color": "red",
        "x": 3310,
        "y": 500,
        "wires": [
            [
                "0a0f92e14bd29547"
            ]
        ]
    },
    {
        "id": "d0d77526e36fe9cf",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "LED Blue",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3120,
        "y": 620,
        "wires": [
            [
                "135dbfd5cffd2534"
            ]
        ]
    },
    {
        "id": "cb1e077aee8d051c",
        "type": "ui_button",
        "z": "10c20c070b4af084",
        "name": "Blue LED",
        "group": "a9bdec91d345fccd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Blue",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3160,
        "y": 560,
        "wires": [
            [
                "135dbfd5cffd2534"
            ]
        ]
    },
    {
        "id": "991a2a18905f534a",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "LED Green",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3120,
        "y": 740,
        "wires": [
            [
                "331e1e7f0e119b88"
            ]
        ]
    },
    {
        "id": "bd046ddc856c37f2",
        "type": "ui_button",
        "z": "10c20c070b4af084",
        "name": "Green LED",
        "group": "a9bdec91d345fccd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Green",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3170,
        "y": 680,
        "wires": [
            [
                "331e1e7f0e119b88"
            ]
        ]
    },
    {
        "id": "135dbfd5cffd2534",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "BLUE",
        "color": "blue",
        "x": 3310,
        "y": 620,
        "wires": [
            [
                "0a0f92e14bd29547"
            ]
        ]
    },
    {
        "id": "331e1e7f0e119b88",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "GREEN",
        "color": "green",
        "x": 3320,
        "y": 740,
        "wires": [
            [
                "0a0f92e14bd29547"
            ]
        ]
    },
    {
        "id": "75cd8399e0fc8872",
        "type": "ros2-subscribe",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "topicname": "/dexi/gpio_input_22",
        "messagetype": "",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "8f36fc4840ffad0f",
                "08c84fd3bcdd49be"
            ]
        ]
    },
    {
        "id": "08c84fd3bcdd49be",
        "type": "change",
        "z": "10c20c070b4af084",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 340,
        "wires": [
            [
                "c2aee11add8d910e"
            ]
        ]
    },
    {
        "id": "d3a61cbc88c6cc22",
        "type": "ros2-subscribe",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "topicname": "/detections",
        "messagetype": "apriltag_msgs/msg/AprilTagDetectionArray",
        "x": 160,
        "y": 760,
        "wires": [
            [
                "b4e4cfb668ddcd7a",
                "f6b59232bf399576"
            ]
        ]
    },
    {
        "id": "699a6fb8797c06ec",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "BLUE",
        "color": "blue",
        "x": 1170,
        "y": 900,
        "wires": [
            [
                "de6fafe3c688e323"
            ]
        ]
    },
    {
        "id": "2c0a47986c189c21",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "RED",
        "color": "red",
        "x": 1170,
        "y": 800,
        "wires": [
            [
                "de6fafe3c688e323"
            ]
        ]
    },
    {
        "id": "de6fafe3c688e323",
        "type": "ros2-service-call",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "x": 1400,
        "y": 900,
        "wires": [
            [
                "41b70dfd89843953",
                "42fe0d2800b57ea8"
            ]
        ]
    },
    {
        "id": "e17068c98866c17e",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "YELLOW",
        "color": "yellow",
        "x": 1180,
        "y": 1000,
        "wires": [
            [
                "de6fafe3c688e323"
            ]
        ]
    },
    {
        "id": "aca51dcb011968d6",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "is1",
        "property": "payload[\"detections\"][0][\"id\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 780,
        "wires": [
            [
                "2c0a47986c189c21"
            ]
        ]
    },
    {
        "id": "367f0d9239a679ec",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "is2",
        "property": "payload[\"detections\"][0][\"id\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 880,
        "wires": [
            [
                "699a6fb8797c06ec"
            ]
        ]
    },
    {
        "id": "41fbdc357219b9c3",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "is3",
        "property": "payload[\"detections\"][0][\"id\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 980,
        "wires": [
            [
                "e17068c98866c17e"
            ]
        ]
    },
    {
        "id": "289231d5d6035c37",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "is4",
        "property": "payload[\"detections\"][0][\"id\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 820,
        "wires": [
            [
                "2c0a47986c189c21"
            ]
        ]
    },
    {
        "id": "5f63b2f9fe077a5a",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "is5",
        "property": "payload[\"detections\"][0][\"id\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 920,
        "wires": [
            [
                "699a6fb8797c06ec"
            ]
        ]
    },
    {
        "id": "f2027e0dda0e5021",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "is6",
        "property": "payload[\"detections\"][0][\"id\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 1020,
        "wires": [
            [
                "e17068c98866c17e"
            ]
        ]
    },
    {
        "id": "7ebb5400fee47eeb",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "CYAN",
        "color": "cyan",
        "x": 1370,
        "y": 840,
        "wires": [
            [
                "37b4c8c27609c205"
            ]
        ]
    },
    {
        "id": "37b4c8c27609c205",
        "type": "ros2-service-call",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "x": 1560,
        "y": 840,
        "wires": [
            [
                "85d8c205279837cc"
            ]
        ]
    },
    {
        "id": "dceeb4ccd484a014",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "Initialize Variables",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('isScanningAT', false);\nflow.set('isScanningIR', false);\nflow.set('isFiringLaser', false);\nflow.set('isPulsingLaser', false);\nflow.set('hasScannedIR', false);\nflow.set('canScannedIR', false);\nflow.set('IRATRequirement', false);\nflow.set('laserDelay', (0.25 * 1000));\nflow.set('IRDelay', (0.25 * 1000));",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5f6b203e6ad899d3",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "isScanningAT",
        "property": "isScanningAT",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 860,
        "wires": [
            [
                "49f9d946b11eb291"
            ]
        ]
    },
    {
        "id": "41b70dfd89843953",
        "type": "delay",
        "z": "10c20c070b4af084",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1580,
        "y": 900,
        "wires": [
            [
                "7ebb5400fee47eeb"
            ]
        ]
    },
    {
        "id": "42fe0d2800b57ea8",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "StartScanningAT",
        "func": "flow.set('isScanningAT', true);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "85d8c205279837cc",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "StopScanningAT",
        "func": "flow.set('isScanningAT', false);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "f5878f45816f2c41",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "StartScanningIR",
        "func": "flow.set('isScanningIR', true);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 420,
        "wires": [
            [
                "605eedaef07d56c4",
                "d441bf53b877e95e"
            ]
        ]
    },
    {
        "id": "07d17dea0c77aaeb",
        "type": "comment",
        "z": "10c20c070b4af084",
        "name": "April Tag Detection",
        "info": "",
        "x": 190,
        "y": 680,
        "wires": []
    },
    {
        "id": "ca6a9da7523c4b93",
        "type": "comment",
        "z": "10c20c070b4af084",
        "name": "Infrared Detection",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "e59ee20c5f8d3df1",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "RED",
        "color": "red",
        "x": 3290,
        "y": 120,
        "wires": [
            [
                "8d52a0fd5d3b89b0"
            ]
        ]
    },
    {
        "id": "83078af2cc803d4e",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "BLUE",
        "color": "blue",
        "x": 3630,
        "y": 120,
        "wires": [
            [
                "0f5612b0b31a2afd"
            ]
        ]
    },
    {
        "id": "8d52a0fd5d3b89b0",
        "type": "ros2-service-call",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "x": 3460,
        "y": 120,
        "wires": [
            [
                "83078af2cc803d4e"
            ]
        ]
    },
    {
        "id": "0f5612b0b31a2afd",
        "type": "ros2-service-call",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "x": 3800,
        "y": 120,
        "wires": [
            [
                "e59ee20c5f8d3df1"
            ]
        ]
    },
    {
        "id": "fd280046dab3f43e",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3120,
        "y": 120,
        "wires": [
            [
                "e59ee20c5f8d3df1"
            ]
        ]
    },
    {
        "id": "1aa23fcfeee69c84",
        "type": "comment",
        "z": "10c20c070b4af084",
        "name": "Wifi Testing",
        "info": "",
        "x": 3110,
        "y": 60,
        "wires": []
    },
    {
        "id": "d0f8ab3833c4d4b9",
        "type": "comment",
        "z": "10c20c070b4af084",
        "name": "Laser Firing",
        "info": "",
        "x": 170,
        "y": 1140,
        "wires": []
    },
    {
        "id": "fd3a8451ae76b238",
        "type": "write-gpio",
        "z": "10c20c070b4af084",
        "pinnumber": 21,
        "pinstate": "true",
        "stampheader": false,
        "x": 780,
        "y": 1460,
        "wires": [
            [
                "f380ca2414eff78a",
                "8bd5b62e71b9d492"
            ]
        ]
    },
    {
        "id": "3966ca2709ce0a2c",
        "type": "ui_button",
        "z": "10c20c070b4af084",
        "name": "",
        "group": "11d34660abd719b5",
        "order": 4,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "Start Firing Laser",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1280,
        "wires": [
            [
                "a38d4e7c0102949f"
            ]
        ]
    },
    {
        "id": "932e2d3b10551be3",
        "type": "ui_button",
        "z": "10c20c070b4af084",
        "name": "",
        "group": "11d34660abd719b5",
        "order": 6,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "Stop Firing Laser",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1620,
        "wires": [
            [
                "b47af3229373a484",
                "d8570747d8d30bf4"
            ]
        ]
    },
    {
        "id": "a38d4e7c0102949f",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "isFiring",
        "property": "isFiringLaser",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 1280,
        "wires": [
            [
                "c50198efc32b6fc7"
            ]
        ]
    },
    {
        "id": "5fd53920bbced54c",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "StartLaser",
        "func": "flow.set('isFiringLaser', true);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "b47af3229373a484",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "StopLaser",
        "func": "flow.set('isFiringLaser', false);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1560,
        "wires": [
            [
                "956407d027f63d06"
            ]
        ]
    },
    {
        "id": "4ad218bef57af72d",
        "type": "write-gpio",
        "z": "10c20c070b4af084",
        "pinnumber": 21,
        "pinstate": "false",
        "stampheader": false,
        "x": 1100,
        "y": 1460,
        "wires": [
            [
                "350e52bc90c0e353",
                "2c599919b5cbe52e"
            ]
        ]
    },
    {
        "id": "350e52bc90c0e353",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "notPulsing",
        "property": "isPulsingLaser",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 1460,
        "wires": [
            [
                "3e7312036fbef344"
            ]
        ]
    },
    {
        "id": "e0489b9f626fc96a",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "Stop Laser",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1580,
        "wires": [
            [
                "b47af3229373a484",
                "d8570747d8d30bf4"
            ]
        ]
    },
    {
        "id": "1e2a7447ab46b9ad",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "Start Laser",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "a38d4e7c0102949f"
            ]
        ]
    },
    {
        "id": "f1bca0c890a278be",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3110,
        "y": 280,
        "wires": [
            [
                "3ef72de0b832461e"
            ]
        ]
    },
    {
        "id": "3ef72de0b832461e",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "",
        "property": "isScanningAT",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3310,
        "y": 280,
        "wires": [
            [
                "d8a24488d3002907"
            ]
        ]
    },
    {
        "id": "d8a24488d3002907",
        "type": "debug",
        "z": "10c20c070b4af084",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3520,
        "y": 280,
        "wires": []
    },
    {
        "id": "3b74e05d4e05afb6",
        "type": "comment",
        "z": "10c20c070b4af084",
        "name": "Variable Testing",
        "info": "",
        "x": 3120,
        "y": 220,
        "wires": []
    },
    {
        "id": "d589b00dd2bc2ada",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "isScanningIR",
        "property": "isScanningIR",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 940,
        "wires": [
            [
                "5029a2ab45758d84"
            ]
        ]
    },
    {
        "id": "5029a2ab45758d84",
        "type": "delay",
        "z": "10c20c070b4af084",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 940,
        "wires": [
            [
                "aca51dcb011968d6",
                "289231d5d6035c37",
                "367f0d9239a679ec",
                "5f63b2f9fe077a5a",
                "41fbdc357219b9c3",
                "f2027e0dda0e5021"
            ]
        ]
    },
    {
        "id": "b8a2fc967add3a32",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "isScanningAT",
        "property": "isScanningAT",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 320,
        "wires": [
            [
                "318a0f518f2f4794"
            ]
        ]
    },
    {
        "id": "f380ca2414eff78a",
        "type": "ros2-service-call",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "x": 980,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "2c599919b5cbe52e",
        "type": "ros2-service-call",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "x": 1300,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "318a0f518f2f4794",
        "type": "delay",
        "z": "10c20c070b4af084",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1100,
        "y": 320,
        "wires": [
            [
                "f5878f45816f2c41"
            ]
        ]
    },
    {
        "id": "a79903adc2205d7f",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "isNotScanningAT",
        "property": "isScanningAT",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 360,
        "wires": [
            [
                "f5878f45816f2c41"
            ]
        ]
    },
    {
        "id": "49f9d946b11eb291",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "isNotScanningIR",
        "property": "isScanningIR",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 860,
        "wires": [
            [
                "f2027e0dda0e5021",
                "41fbdc357219b9c3",
                "5f63b2f9fe077a5a",
                "367f0d9239a679ec",
                "289231d5d6035c37",
                "aca51dcb011968d6"
            ]
        ]
    },
    {
        "id": "d2641c51a3ec01f8",
        "type": "ui_iframe",
        "z": "10c20c070b4af084",
        "group": "faafc0857acbc64c",
        "name": "PICamera",
        "order": 0,
        "width": "12",
        "height": "9",
        "url": "http://192.168.4.1:8080/stream?topic=/image_rect",
        "origin": "*",
        "scale": "100",
        "x": 160,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "51a00d1d537035ca",
        "type": "comment",
        "z": "10c20c070b4af084",
        "name": "Button Testing",
        "info": "",
        "x": 3110,
        "y": 380,
        "wires": []
    },
    {
        "id": "b4e4cfb668ddcd7a",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "phaseRequirement",
        "property": "IRATRequirement",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 190,
        "y": 860,
        "wires": [
            [
                "27cb7d01fe39cb1c"
            ]
        ]
    },
    {
        "id": "c26ef69064537af8",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2040,
        "wires": [
            [
                "ad2c044c0ebe409c"
            ]
        ]
    },
    {
        "id": "bc54c4f6a235dcc5",
        "type": "ui_button",
        "z": "10c20c070b4af084",
        "name": "",
        "group": "11d34660abd719b5",
        "order": 1,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "Toggle April Tag IR Requirement",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 2080,
        "wires": [
            [
                "ad2c044c0ebe409c",
                "3b463b9c6646ef0b"
            ]
        ]
    },
    {
        "id": "ad2c044c0ebe409c",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "ToggleIRATRequirement",
        "func": "flow.set('IRATRequirement', !flow.get('IRATRequirement'));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "f6b59232bf399576",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "notPhaseRequirement",
        "property": "IRATRequirement",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 940,
        "wires": [
            [
                "5f6b203e6ad899d3",
                "d589b00dd2bc2ada"
            ]
        ]
    },
    {
        "id": "27cb7d01fe39cb1c",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "allowsATScan",
        "property": "hasScannedIR",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 860,
        "wires": [
            [
                "5f6b203e6ad899d3",
                "d589b00dd2bc2ada"
            ]
        ]
    },
    {
        "id": "605eedaef07d56c4",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "phaseRequirement",
        "property": "IRATRequirement",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1430,
        "y": 360,
        "wires": [
            [
                "4ff0f6cc51c79959"
            ]
        ]
    },
    {
        "id": "4ff0f6cc51c79959",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "allowATScan",
        "func": "flow.set(\"hasScannedIR\", true)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 360,
        "wires": [
            [
                "8fb6fedd7456d1d7"
            ]
        ]
    },
    {
        "id": "8fb6fedd7456d1d7",
        "type": "delay",
        "z": "10c20c070b4af084",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1400,
        "y": 420,
        "wires": [
            [
                "79206493d12e28e2"
            ]
        ]
    },
    {
        "id": "79206493d12e28e2",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "disallowATScan",
        "func": "flow.set(\"hasScannedIR\", false)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "de4b7e7fd28233c6",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "notScanningIR",
        "property": "isScanningIR",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 740,
        "y": 340,
        "wires": [
            [
                "a79903adc2205d7f",
                "b8a2fc967add3a32"
            ]
        ]
    },
    {
        "id": "c2aee11add8d910e",
        "type": "rbe",
        "z": "10c20c070b4af084",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "true",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "de4b7e7fd28233c6"
            ]
        ]
    },
    {
        "id": "9a347e7e7bcd0dec",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "LED Black",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3100,
        "y": 860,
        "wires": [
            [
                "c48a39e9cce8fe6f"
            ]
        ]
    },
    {
        "id": "0937534081aa6561",
        "type": "ui_button",
        "z": "10c20c070b4af084",
        "name": "Green LED",
        "group": "a9bdec91d345fccd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Black",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3150,
        "y": 800,
        "wires": [
            [
                "c48a39e9cce8fe6f"
            ]
        ]
    },
    {
        "id": "c48a39e9cce8fe6f",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "BLACK",
        "color": "black",
        "x": 3300,
        "y": 860,
        "wires": [
            [
                "0a0f92e14bd29547"
            ]
        ]
    },
    {
        "id": "30767f5410fd02b5",
        "type": "comment",
        "z": "10c20c070b4af084",
        "name": "UIQualityFeatures",
        "info": "",
        "x": 190,
        "y": 2180,
        "wires": []
    },
    {
        "id": "6a2c09a82ed4bf0b",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "ReturnPhaseStatus",
        "func": "return {payload : flow.get('IRATRequirement')};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 2200,
        "wires": [
            [
                "b9da741e84a44ecb"
            ]
        ]
    },
    {
        "id": "3b463b9c6646ef0b",
        "type": "trigger",
        "z": "10c20c070b4af084",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 2260,
        "wires": [
            [
                "b3ca0a71486dfa0d"
            ]
        ]
    },
    {
        "id": "6914c8940b37f5b9",
        "type": "ui_led",
        "z": "10c20c070b4af084",
        "order": 2,
        "group": "aa7f7a1e05ee2d6c",
        "width": "4",
        "height": "2",
        "label": "Can Scan AT:",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1170,
        "y": 2260,
        "wires": []
    },
    {
        "id": "b3ca0a71486dfa0d",
        "type": "trigger",
        "z": "10c20c070b4af084",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 2260,
        "wires": [
            [
                "6a2c09a82ed4bf0b",
                "3b463b9c6646ef0b",
                "d58619d0b8b55c42",
                "118b468b14cdb675"
            ]
        ]
    },
    {
        "id": "b9da741e84a44ecb",
        "type": "ui_led",
        "z": "10c20c070b4af084",
        "order": 1,
        "group": "aa7f7a1e05ee2d6c",
        "width": "4",
        "height": "2",
        "label": "Phase:",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1170,
        "y": 2200,
        "wires": []
    },
    {
        "id": "d58619d0b8b55c42",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "isScanningIR",
        "func": "return {payload : flow.get('isScanningIR')};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 2320,
        "wires": [
            [
                "09b3129553fb2414"
            ]
        ]
    },
    {
        "id": "09b3129553fb2414",
        "type": "ui_led",
        "z": "10c20c070b4af084",
        "order": 3,
        "group": "aa7f7a1e05ee2d6c",
        "width": "4",
        "height": "2",
        "label": "Can Scan IR:",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1170,
        "y": 2320,
        "wires": []
    },
    {
        "id": "118b468b14cdb675",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "hasScannedIR",
        "func": "\nreturn {payload : (flow.get('hasScannedIR') || !flow.get('IRATRequirement'))};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 2260,
        "wires": [
            [
                "6914c8940b37f5b9"
            ]
        ]
    },
    {
        "id": "11f25352ae341fb7",
        "type": "comment",
        "z": "10c20c070b4af084",
        "name": "GUI",
        "info": "",
        "x": 150,
        "y": 1740,
        "wires": []
    },
    {
        "id": "daa2417a1ca5c391",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2320,
        "wires": [
            [
                "3b463b9c6646ef0b"
            ]
        ]
    },
    {
        "id": "94e4f4bc02507ec9",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "LED Cyan",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3100,
        "y": 980,
        "wires": [
            [
                "6673217277ffdd70"
            ]
        ]
    },
    {
        "id": "1a471eef43f3bc17",
        "type": "ui_button",
        "z": "10c20c070b4af084",
        "name": "Green LED",
        "group": "a9bdec91d345fccd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Cyan",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3150,
        "y": 920,
        "wires": [
            [
                "6673217277ffdd70"
            ]
        ]
    },
    {
        "id": "6673217277ffdd70",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "CYAN",
        "color": "cyan",
        "x": 3290,
        "y": 980,
        "wires": [
            [
                "0a0f92e14bd29547"
            ]
        ]
    },
    {
        "id": "f3333c60e1e825de",
        "type": "comment",
        "z": "10c20c070b4af084",
        "name": "features to be added",
        "info": "add disabling of ir for bridge\nadd laser controllable delay\n\ncreate seperate varibles for laser and IR delay",
        "x": 190,
        "y": 2380,
        "wires": []
    },
    {
        "id": "8f36fc4840ffad0f",
        "type": "change",
        "z": "10c20c070b4af084",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e09cc2745aa599f4",
        "type": "change",
        "z": "10c20c070b4af084",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "i",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 560,
        "wires": [
            [
                "1ada7f2c6f9b78b1"
            ]
        ]
    },
    {
        "id": "1ada7f2c6f9b78b1",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "loop 3 times",
        "property": "i",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1570,
        "y": 560,
        "wires": [
            [
                "5b36866dd5b7b2b6",
                "5bd3ee5d280b253c"
            ],
            [
                "5230ded5afda2f52"
            ]
        ]
    },
    {
        "id": "f3d92df7e5f34fa7",
        "type": "change",
        "z": "10c20c070b4af084",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "i",
                "pt": "msg",
                "to": "i + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 500,
        "wires": [
            [
                "1ada7f2c6f9b78b1"
            ]
        ]
    },
    {
        "id": "5b36866dd5b7b2b6",
        "type": "delay",
        "z": "10c20c070b4af084",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1400,
        "y": 520,
        "wires": [
            [
                "126dbc1c4a8e0b00"
            ]
        ]
    },
    {
        "id": "5bd3ee5d280b253c",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "WHITE",
        "color": "white",
        "x": 1800,
        "y": 500,
        "wires": [
            [
                "7ecf45c435b9ac37"
            ]
        ]
    },
    {
        "id": "7ecf45c435b9ac37",
        "type": "ros2-service-call",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "x": 1980,
        "y": 500,
        "wires": [
            [
                "d2531052620cc876"
            ]
        ]
    },
    {
        "id": "33d5869d81557047",
        "type": "led",
        "z": "10c20c070b4af084",
        "name": "CYAN",
        "color": "cyan",
        "x": 1790,
        "y": 560,
        "wires": [
            [
                "a9055be8126ce7d5"
            ]
        ]
    },
    {
        "id": "a9055be8126ce7d5",
        "type": "ros2-service-call",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "x": 1980,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "5230ded5afda2f52",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "StopScanningIR",
        "func": "flow.set('isScanningIR', false);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c50198efc32b6fc7",
        "type": "change",
        "z": "10c20c070b4af084",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "laserDelay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1280,
        "wires": [
            [
                "5fd53920bbced54c",
                "b018e2196d39c17e"
            ]
        ]
    },
    {
        "id": "8bd5b62e71b9d492",
        "type": "delay",
        "z": "10c20c070b4af084",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0.25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 1460,
        "wires": [
            [
                "4ad218bef57af72d"
            ]
        ]
    },
    {
        "id": "3e7312036fbef344",
        "type": "delay",
        "z": "10c20c070b4af084",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0.25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1440,
        "y": 1460,
        "wires": [
            [
                "fd3a8451ae76b238"
            ]
        ]
    },
    {
        "id": "cd9506b7e74b7f65",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "Disable IR detection",
        "func": "flow.set('isScanningIR', true);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "b42ff22dc631e642",
        "type": "ui_button",
        "z": "10c20c070b4af084",
        "name": "",
        "group": "11d34660abd719b5",
        "order": 3,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "Disable IR detection",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1840,
        "wires": [
            [
                "cd9506b7e74b7f65"
            ]
        ]
    },
    {
        "id": "19e49a3a6d009b21",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1800,
        "wires": [
            [
                "cd9506b7e74b7f65"
            ]
        ]
    },
    {
        "id": "f288bde828874f12",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "Enable IR detection",
        "func": "flow.set('isScanningIR', false);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "735f5cd0f1d013e2",
        "type": "ui_button",
        "z": "10c20c070b4af084",
        "name": "",
        "group": "11d34660abd719b5",
        "order": 2,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "Enable IR detection",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1960,
        "wires": [
            [
                "f288bde828874f12"
            ]
        ]
    },
    {
        "id": "75a29f615f154952",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1920,
        "wires": [
            [
                "f288bde828874f12"
            ]
        ]
    },
    {
        "id": "31062077ab314eaa",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 3100,
        "y": 1200,
        "wires": [
            [
                "a63e99537396a92c"
            ]
        ]
    },
    {
        "id": "602a0b23e295322d",
        "type": "debug",
        "z": "10c20c070b4af084",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "1",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 3480,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4f404afacb78a74d",
        "type": "delay",
        "z": "10c20c070b4af084",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0.25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3480,
        "y": 1240,
        "wires": [
            [
                "15660e51d415f5f4"
            ]
        ]
    },
    {
        "id": "15660e51d415f5f4",
        "type": "debug",
        "z": "10c20c070b4af084",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "2",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 3640,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a63e99537396a92c",
        "type": "change",
        "z": "10c20c070b4af084",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "laserDelay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3300,
        "y": 1200,
        "wires": [
            [
                "4f404afacb78a74d",
                "602a0b23e295322d"
            ]
        ]
    },
    {
        "id": "59f9bfdb3e1b8e1c",
        "type": "comment",
        "z": "10c20c070b4af084",
        "name": "delay variable testing",
        "info": "",
        "x": 3140,
        "y": 1100,
        "wires": []
    },
    {
        "id": "d441bf53b877e95e",
        "type": "change",
        "z": "10c20c070b4af084",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "IRDelay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 560,
        "wires": [
            [
                "e09cc2745aa599f4"
            ]
        ]
    },
    {
        "id": "126dbc1c4a8e0b00",
        "type": "delay",
        "z": "10c20c070b4af084",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1400,
        "y": 480,
        "wires": [
            [
                "f3d92df7e5f34fa7"
            ]
        ]
    },
    {
        "id": "0b05f8cbc092c89a",
        "type": "delay",
        "z": "10c20c070b4af084",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0.25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2360,
        "y": 500,
        "wires": [
            [
                "33d5869d81557047"
            ]
        ]
    },
    {
        "id": "d2531052620cc876",
        "type": "change",
        "z": "10c20c070b4af084",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "laserDelay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2180,
        "y": 500,
        "wires": [
            [
                "0b05f8cbc092c89a"
            ]
        ]
    },
    {
        "id": "b018e2196d39c17e",
        "type": "write-gpio",
        "z": "10c20c070b4af084",
        "pinnumber": 21,
        "pinstate": "true",
        "stampheader": false,
        "x": 760,
        "y": 1320,
        "wires": [
            [
                "97b6609e97a7cb21"
            ]
        ]
    },
    {
        "id": "97b6609e97a7cb21",
        "type": "ros2-service-call",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "x": 940,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "d8570747d8d30bf4",
        "type": "write-gpio",
        "z": "10c20c070b4af084",
        "pinnumber": 21,
        "pinstate": "false",
        "stampheader": false,
        "x": 420,
        "y": 1620,
        "wires": [
            [
                "2cefedb4e7eb52f0"
            ]
        ]
    },
    {
        "id": "2cefedb4e7eb52f0",
        "type": "ros2-service-call",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "x": 600,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "f8e82667a8e0cb26",
        "type": "ui_button",
        "z": "10c20c070b4af084",
        "name": "",
        "group": "11d34660abd719b5",
        "order": 5,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "Pulse Laser",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 1460,
        "wires": [
            [
                "b3f3d992415606a0"
            ]
        ]
    },
    {
        "id": "b3f3d992415606a0",
        "type": "switch",
        "z": "10c20c070b4af084",
        "name": "isFiring",
        "property": "isPulsingLaser",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 1460,
        "wires": [
            [
                "233b104198a77082",
                "bd9277747bcf4fdd"
            ]
        ]
    },
    {
        "id": "4f2668b4f0668f0a",
        "type": "inject",
        "z": "10c20c070b4af084",
        "name": "Pulse Laser",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1420,
        "wires": [
            [
                "b3f3d992415606a0"
            ]
        ]
    },
    {
        "id": "233b104198a77082",
        "type": "change",
        "z": "10c20c070b4af084",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "laserDelay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1460,
        "wires": [
            [
                "fd3a8451ae76b238"
            ]
        ]
    },
    {
        "id": "956407d027f63d06",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "StopPulsingLaser",
        "func": "flow.set('isPulsingLaser', false);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "bd9277747bcf4fdd",
        "type": "function",
        "z": "10c20c070b4af084",
        "name": "StartPulsing",
        "func": "flow.set('isPulsingLaser', true);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "5fcc76b98b4f902a",
        "type": "ros2-subscribe",
        "z": "10c20c070b4af084",
        "server": "95bad6327de6acb3",
        "topicname": "/dexi/gpio_input_22",
        "messagetype": "",
        "x": 190,
        "y": 2260,
        "wires": [
            [
                "b7020e97541e0cc9"
            ]
        ]
    },
    {
        "id": "b7020e97541e0cc9",
        "type": "rbe",
        "z": "10c20c070b4af084",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "true",
        "x": 370,
        "y": 2260,
        "wires": [
            [
                "3b463b9c6646ef0b"
            ]
        ]
    },
    {
        "id": "a9bdec91d345fccd",
        "type": "ui_group",
        "name": "LED",
        "tab": "9a78e60885b3cf22",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95bad6327de6acb3",
        "type": "ros2-websocket-server",
        "url": "ws://192.168.4.1:9090"
    },
    {
        "id": "11d34660abd719b5",
        "type": "ui_group",
        "name": "Dexi",
        "tab": "9a78e60885b3cf22",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "faafc0857acbc64c",
        "type": "ui_group",
        "name": "Camera",
        "tab": "9a78e60885b3cf22",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa7f7a1e05ee2d6c",
        "type": "ui_group",
        "name": "UIComponents",
        "tab": "9a78e60885b3cf22",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a78e60885b3cf22",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
